<div class="container">
    <div class="top">
      <div class="bg-opacity">
        <div class="top-logo">
          <i class="fas fa-handshake"></i>
          <h1>Studdy Buddy</h1>
          <p>Studdy Buddyとは、<br>"在宅留学"を可能にするオンライン語学学習コミュニティです。<p>
        </div>

        <div class="btns">
          <div class="btn signup">
          <%= link_to("Sign up", "/signup") %>
          </div>
          <div class="btn login">
          <%= link_to("Sign in", "/login") %>
          </div>
       </div>
      </div>


       
    </div>

    <h1>Create an Account<h1>
    <%= form_tag("/users/create", {multipart: true}) do %>
       <p>User name</p>
       <input name="name">
       <p>email</p>
       <input name="email">
       
       <p>Self Introduction</p>
       <input name="text">
       <p>Password</p>
       <input name="password" type="password">
       <br>
      <input type="submit" value="Sign Up" class="submit-btn">
    <% end %>

   


</div>