<div class="main posts-new">
 <div class="container">
    <div class="users-heading">
      <p>~投稿を編集する~</p>
      <h1>Edit your post!</h1>
    </div>
    
    <%= render 'form' %>

   
 </div>
</div>