<div class="main posts-index">
  <div class="container">


  <div class="users-heading">
    <p>~参加者の声~</p>
    <h1>Buddies Voices</h1>
    </div>


    <% @posts.each do |post| %>
      <div class="posts-index-item">

        <div class="post-left">
          <img class="user-icon" src="<%= "/user_images/#{post.user.image_name}" %>">
          <div class="user-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
        </div>
        <br>

        <div class="post-right">
          <div class="post-content">
          <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>
          <div class="post-created_at">
          <%= post.created_at %>
        </div>
        </div>

        <div class="clear"></div>

      </div>
    <% end %>
  </div>
</div>