


<div class="main posts-new">
 <div class="container">
    <div class="heading">
      <p>~参加後の感想を投稿をおねがいします~</p>
      <h1>Share your feedback!</h1>
    </div>
    
    <%= render 'form' %>

 </div>
</div>