// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    margin: 0;
}
a{
    list-style: none;
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.main{
    margin-top:100px;
}

.header-mobile{
  display: none;
}

header{
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    margin: 0 auto;
    height: 60px;
    font-weight: 600;
    a{
        color: rgba(0, 0, 0, 0.514);
    }
    
    .header-logo{
        font-weight: 600;
        font-size: 50px;
        float: left;
        padding-left: 20px;
        padding-top: 20px;
    }
    .header-menus{
        float: right;
        text-align: right;
        display: flex;
            li{
                font-size: 20px;
                flex-wrap: wrap;
                margin:20px;
            }
    }
    .clear{
        clear: both;
    }
}



.container{
    width: 100%;
    margin: auto;
    // margin-top: 200px;

    .top{
       text-align: center;
        margin-top: 100;
        width: 100%;
        height: 800px;
        background-position:  center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/top.jpg);
        .bg-opacity{
          background: rgba(255, 255, 255, 0.6);
          height: 100%;
            .top-logo{
              i{
                font-size: 30px;
              }
              font-family: arial;
              opacity: 1;
              color: black;
              text-align: center;
              position: relative;
              top: 300px;
              margin: 0 auto;
              h1{
                width: 30%;
                margin:  0 auto;
                font-size: 60px;
                margin-bottom: 20px;
                border-bottom: 4px solid darkorange;
              }
            }
            .btns{
                position: relative;
                top:320px;
                width:30%;
                margin: 0 auto;
              .btn{
                span{
                  padding-left: 10px;
                }
              }
                .login-user{
                  margin: 0 auto;
                  width:30%;
                  margin-bottom:20px;
                  img{
                    border-radius: 50%;
                    width: 100%;
                    border: 2px solid gray;
                  }
                }
            }



      }
    }






     .feature{
        background-color: white;
        text-align: center;
        padding-top: 80px;
          .heading{
        // padding-top: 30px;
            // margin-bottom: 60px;
            // border-bottom: 2px solid darkorange;
            p{
             margin-top: 0;
              margin-bottom: 0;
            }
            h2{
              margin-top:0;
            }
          }
          .feature-items{
            display: flex;
            flex-wrap: wrap;
            margin: 0px;
            .feature-item{
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 30px;
              width: 30%;
                i{
                  font-size: 30px;
                  color: #222222;
                  margin-bottom: 10px;
                }
                h4{
                  border-bottom: 2px solid orange;
                  width: 50%;
                  margin: 0 auto;
      
                }
              .feature-item-text{
                width: 70%;
                margin: 10px auto;
      
              }
            }
          }
        
      }
        

      .buddies{
        width: 60%;
        margin: 0 auto;
        background-color: white;
        padding-top: 80px;
        .buddy-list{
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            .buddy-list-item{
                width: 10%;
                margin-right: 100px;
                .buddy-icon{
                  border-radius: 50%;
                    border: 2px solid gray;
              }
              
            }
        }


      
      }



       

 





.buddy-icon{
    border-radius: 50%;
      width: 100%;
      border: 2px solid gray;
}



.heading{
    width: 30%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid darkorange;
}

// textarea{
//     padding: 10px;
//     min-height: 400px;
//     width: 60%;
// }

// input{
//     padding: 5px;
//     width: 60%;
//     height: 30px;
//     font-size: 16px;
// }

.submit-btn{
    color: gray;
    font-size: 30px;
    border: 1px solid gray;
    margin-top: 60px;
    height: 50px;
    width: 20%;
}










}

#home-top, #home-about{
  .btn{
    width: 100%;
    font-size: 26px;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: rgba(248, 248, 248, 0.705);
    padding: 10px;
    color: black;
    
      :hover {
        color: orange;
      }
      
    

}


  

}


  
