@media  (max-width: 670px){

#profiles-show{
    .top{
        background-image: url(../img/profile-top.jpg);
        .profile{
            position: relative;
            top:180px;
            width:80%;
            margin: 0 auto;
            .profile-icon{
                width:100%;
                img{
                    width: 40%;
                    border-radius: 50%;
                    border: 2px solid gray;
                }
            }
            .to-mypage{
                margin-top: 10px;
                display: inline-block;
                padding: 0.5em 1em;
                text-decoration: none;
                background: #f7f7f7;
                border-left: solid 6px #ff7c5c;/*左線*/
                color: #ff7c5c;/*文字色*/
                font-weight: bold;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
            }
            .profile-below{
                width:100%;
                font-weight: bold;
                h1{
                    margin-top:20px;
                }
                h2{
                    margin-bottom:20px;
                }
            }
        }
    }
}

}