// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user{ 
    padding: 40px;
    margin: 40px auto;

    .user-info{
        padding: 20px;
        border-bottom: 2px solid dimgray;
        background-color: white;
            .user-icon{
            border:1px solid  gray;
            width: 80px;
            height: 80px;
            border-radius: 50%;
                // box-shadow: 0 2px 6px #c1ced7;
                // margin: 20px 0 10px;
                // object-fit: cover;
          }
        span{
            font-weight: bold;
            color: dimgray;
            
            p{
                font-size: 18px;
            }
        }
    }
  }



.fa-user-edit{
    font-size: 26px;
}


.user-tabs{
    display: flex;
    width: 50%;
    padding: 40px;
    margin: 0 auto;
    
    li{
        flex: auto;
        font-size: 26px;
    }
    span{
        font-weight: bold;
        font-size: 26px;
        p{
            font-size: 18px;
        }
    }

    .like-btn-unlike{
        color: red;
    }
}


.users-heading{
    color: white;
    margin-bottom: 100px;
}


.users-index{
    display: flex;
    margin: 0 auto;
    .users-index-item{
        width: 80%;
        margin: 0 auto;
        background-color: white;
        .user-left{
            margin: 40px;
        }
        .user-right{
            margin: 20px;
        }
    }
}

.users-form{
    margin-top: 60px;
    h2{
        color: white;
    }
}

.form{
    margin-bottom: 40px;
}
.form-heading{
    margin-top: 100px;
    color: white;
}

.user-icon{
    border:1px solid  gray;
    width: 120px;
    height: 120px;
    border-radius: 50%;
        // box-shadow: 0 2px 6px #c1ced7;
        // margin: 20px 0 10px;
        // object-fit: cover;
  }